{%extends 'all-products/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if products%}
      <h2>Found {{ products|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 products for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if products %}
    {% for item in products %}
      <div class="col-sm-6 col-md-3">
          <h1>{{item.name}}</h1>
          <img src="{{item.product_pic.url}}"  class="img-responsive" alt="Image">
          <h1>{{item.price }}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}