<nav class="navbar navbar-expand-sm bg-light navbar-light" style="background-color:chartreuse;">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Get It</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login/">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/register">Register</a>
      </li>
    </ul>
   
      {% if user.is_authenticated %}
      <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">My Profile</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{}">Stores</a>
      </li>
      <li class=nav-item>
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
    <div class="col-sm-4 col-md-4 navbar-right">

      <form class="navbar-form" role="search" action="{}">

        <div class="input-group">
          <!-- <input type="text" style="font-family: 'Dosis', sans-serif;" class="form-control mr-sm-4" placeholder="Search Item" name="book"> -->
          <div class="input-group-btn">
            <!-- <button class="btn btn-outline-primary my-2 my-sm-0" style="font-family: 'Dosis', sans-serif;" type="submit">Find</button> -->
          </div>
        </div>


      </form>

    </div>

      {% endif %}
    
  </nav> 